@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Background-section: #F8EDFE;
    --Other: #AD28EB
}

html {
    font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--Background-section);
    position: relative;
}

.header {
    position: relative;
    width: 100%;
    height: 230px;
    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    position: absolute;
    top: 145px;
    left: calc(50% - 166px);
    min-width: 330px;
    width: 330px;
    padding: 24px 16px;
    padding-bottom: 0px;
    border-radius: 12px;
    -webkit-box-shadow: -1px -2px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -2px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -2px 5px -1px rgba(0, 0, 0, 0.75);
    background-color: var(--White);
  }
  
  .card__header {
    display: flex;
    align-items: center;
    padding-left: 18px;
  }
  
  .header__icon {
    width: 32px;
    height: 32px;
    background-image: url('./assets/images/icon-star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

  .header__title {
    margin-left: 16px;
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--Dark-purple);
  }

  .card__main {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }

  .list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 72px; */
    padding: 18px 16px;
    border-bottom: 1px solid var(--Light-pink);
    color: var(--Dark-purple);
  }

  .list__item--active {
    flex-direction: column;
    padding-top: 0px;
  }

  .item__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .item__title {
    
    padding-right: 16px;
  }

  .title__link:hover {
    color: var(--Other);
  }

  .item__content {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--Grayish-purple);
  }

  .item__icon {
    width: 32px;
    height: 32px;
    padding: 0 12px;
    background-image: url('./assets/images/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .item__icon--active {
    background-image: url('./assets/images/icon-minus.svg');
    margin-left: 12px;
  }

  @media screen and (min-width: 800px) { 
    .card {
      width: 490px;
      left: calc(50% - 265px);
    }
  }

