@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Background-section: #F8EDFE;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    height: 230px;
    background-image: url('./assets/images/background-pattern-mobile.svg');
}

.footer {
    width: 100%;
    height: 575px;
    background-color: var(--Background-section);
}

.card {
    width: 330px;
    min-width: 330px;
    margin: 0 auto;
    padding: 20px;
}

.card__header {

    display: flex;
}